.gridScreen {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	padding: 40px;

	>div {
		width: 100%;

		a {
			display: flex;
			gap: 20px;
			flex-direction: column;

			img {
				width: 100%;
			}
		}

		.info {
			color: white;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			font-size: 1.05rem;
			gap: 5px;
			padding: 10px 0;
			p{
				margin: 0;
			}

		}


	}
}