.navbar{
	padding: 15px 40px;
	display: flex;
	align-items: center;
	background-color: #141414;
	justify-content: space-between;
	
	.logo{
		width: auto;
		height: 32px;
	}
	div {
		display: flex;
		align-items: center;
		
	}
	a{
		display: contents
	};
	.searchContainer{
		gap: 100px;

	}
	i {
		padding: 10px;
		font-size: 24px;

	}
}